html {
  scroll-behavior: auto;
}

:root{
--color: #a81c1c; 
}

body{
    background-color: #ffe5f3;
}

.nav-menu {
  gap: 0.5rem;
}

@media (min-width: 600px) {
  .nav-menu {
    gap: 1rem;
  }
}

@media (min-width: 900px) {
  .nav-menu {
    gap: 2rem;
  }
}


.container {
  font-size: 28px;
  color: var(--color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-size: cover;
  background-position: center;
  
  background-attachment: fixed;
}

.container h1{
  font-size: 120px;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

p {
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
}

nav{
  display: none;
  flex-direction: row-reverse;
  margin: 4vh 6vh 0 0;
  height: 60px;
}

nav a{
    color: var(--color);
    text-decoration: none;
    background-color: #fff;
    border-radius: 12px;
    padding: 18px;
    transition: all .3s;
}

nav a:hover{
    background-color: var(--color);
    color: #fff;
}

.bottomText{
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  background-size: cover;
  background-position: center;
  
  background-attachment: fixed;
}

.bottomText a {
  display: inline-block;
  padding: 1em 3.5em;
  background-color: var(--color);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: .5px;
  font-size: .875rem;
  margin-bottom: 18vh;
}

.blank,
.other {
    display: flex;
    align-items: center;
    justify-content: center;
  width: 100%;
  min-height: 20vh;
  background-color: var(--color);
}


.blankText{
  color: var(--color);
  font-size: 4rem;
}


.blankText ul{
  list-style: none;
}

.blankText li{
  display: inline-block;
  margin: 18px 18px;

}

.blankText li a{
  font-size: 3rem;
  text-decoration: none;
  color: #1d1d1d;
  border-radius: 50px;
  padding: 10px;
}

.blankText li a:hover{
  background-color: rgba(148, 84, 84, 0.3);
}

.second {
  padding-top: 24px;
  background-attachment: fixed;
  flex-wrap: wrap
}

h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
}

.about{
    margin: 5rem;
    text-align: center;
}

.headerTittle{
  display: flex;
  width: 100%;
  justify-self: center;
  background-color: #fff;
  height: 80px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.headerSection, .navHeaderSection{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem 0;


  display: flex;
  border-radius: 50px;
  min-width: 600px;
  justify-self: center;
  background-color: #fff;
  height: 80px;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
  margin-top: 1rem;
}

.productos{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.contacto{
  display: flex;
  align-items: center;
  align-content: center;
justify-content: center;
}

.logo-image{
  padding-top: 5%;
  align-self: center;
  width: 40rem;
}

@media only screen and (max-width: 1250px) {
  .navHeaderSection .menu-item{
    display: none;
  }

  .headerSection, .navHeaderSection{
    min-width: 0px;
  }

  .blankText {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
  }
}

@media only screen and (min-width: 800px) {
 .logo-image, .logoSmall{
  display: none;
 }
}
@media only screen and (max-width: 800px) {
 .bg-f3{
  display: none;
 }
 .logo-image, .logoSmall{
  display: block;
 }
}

@media only screen and (max-width: 500px) {
    .blankText {
    font-size: 2rem;
  }
    .blankText li a {
    font-size: 2rem;
  }
}